body{

    background-color: rgb(202, 238, 226);
}

hr{
    background-color:rgb(202, 238, 226);
    border-style: none;
    border-top-style: dotted;
    border-color:gray;
    border-width: 6px;
    width: 5%;
}

h1{
    color:rgb(14, 205, 205);
}

h3{
    color:rgb(14, 205, 205);
}
